# Path were journal files are stored
readonly JOURNAL_PATH='.'

# Command that will run editor for journal
readonly JOURNAL_EDITOR='vim'

# Optional journal file extension
readonly JOURNAL_FILE_EXTENSION='md'

# Command that will run a program to display concatenated journal files. If not set, editor will be used.
readonly JOURNAL_VIEWER="echo"

# Default action
# readonly JOURNAL_DEFAULT_ACTION="log"

# Default show period
# readonly JOURNAL_DEFAULT_SHOW_PERIOD="week"

# Add time tag when opening journal file to edit
readonly ADD_TIME_TAG=true